@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    background-color: black;
}

.home {
    width: 100%;
    height: 110vh;
    background-color: #c1c1c0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-container {
    width: 100%;
    max-width: 1050px;
    height: 80%;
    padding: 20px;
}

.home-container .home-image-cont1 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.home-container .home-image-cont2 {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.home-container .home-title-container {
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    line-height: 90px;
    align-items: center;
    font-size: 80px;
    text-align: center;
    font-family: 'Gloock', 'Poppins', sans-serif;
}

.home-container div img {
    width: 48px;
    object-fit: cover;
}

.discover {
    width: 100%;
    height: 160vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: black; */
    color: #c0c0c0;
}

.discover-container {
    width: 100%;
    max-width: 1000px;
    height: 80%;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.discover-committees,
.discover-interaction {
    max-width: 1000px;
    width: 90%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    /* background-color: red; */
}

.discover-committees-img,
.discover-interaction-img {
    width: 60vh;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
}

.discover-committees-img img,
.discover-interaction-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.discover-committees-text,
.discover-interaction-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
}

.discover-committees-text h1,
.discover-interaction-text h1 {
    width: 100%;
    text-align: left;
    font-family: 'Gloock', 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.discover-committees-text p,
.discover-interaction-text p {
    width: 80%;
    margin-top: 20px;
    font-family: 'Space Mono', 'Poppins', sans-serif;
    font-size: 1rem;
}

.thought {
    width: 100%;
    height: 110vh;
    background-color: #3a6ea5;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thought-images {
    position: absolute;
    top: 270vh;
    left: 0;
    width: 100%;
    height: 110vh;
    display: grid;
    background-color: #3a6ea5;
    overflow: hidden;
    grid-template-columns: repeat(8, minmax(10px, 1fr));
    justify-content: center;
    grid-auto-rows: min-content;
    grid-template-rows: repeat(8, min-content);
    gap: 60px;
}

.thought-images img {
    opacity: 0.5;
}

.thought-images div:nth-child(5n + 2) img {
    opacity: 1;
}

.thought-images div:nth-child(5n + 4) img {
    opacity: 0.2;
}

.thought-text {
    max-width: 1000px;
    width: 60%;
    position: relative;
    text-align: center;
    font-size: 3rem;
    font-family: 'Gloock', 'Poppins', sans-serif;
    font-weight: 500;
}



.committees {
    width: 100vw;
    height: 260vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    color: #c0c0c0;
}

.committees-heading {
    width: 100%;
    max-width: 1000px;
    font-size: 4rem;
    font-family: 'Gloock', 'Poppins', sans-serif;
}

.committees-container {
    width: 100%;
    max-width: 1000px;
    height: 220vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.committee {
    max-width: 1000px;
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.committee-img {
    width: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
}

.committee-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.committee-text {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 0 10px;
}

.committee-text h1 {
    width: 100%;
    text-align: left;
    font-family: 'Gloock', 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: 100;
}

.committee-text p {
    width: 80%;
    margin-top: 20px;
    font-family: 'Space Mono', 'Poppins', sans-serif;
    font-size: 1rem;
}


.join {
    background-color: #c1c1c0;
    width: 100vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-container{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: #004e98;
}

.join-heading {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Gloock', 'Poppins', sans-serif;
    text-align: center;
}

.join-para {
    text-align: center;
    font-family: 'Space Mono', 'Poppins', sans-serif;
}

.join-button {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    background-color: black;
    color: white;
    font-family: 'Space Mono', 'Poppins', sans-serif;
}

footer {
    background-color: #c1c1c0;
}

.pages{
    height: 45vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-family: 'Space Mono', 'Poppins', sans-serif;
}

.pages-container{
    display: flex;
    width: 70%;
    height: 25vh;
}

.page-division {
    width: 34%;
    height: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.links {
    height: 40vh;
    width: 100vw;
    font-family: 'Space Mono', 'Poppins', sans-serif;
}

.links-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: auto;   
    width: 70%;
    height: 25vh;
}

.social-links{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
}

.social-links div{
    margin: 10px;
}


@media screen and (max-width: 1121px) {
    .home-container .home-title-container {
        font-size: 64px;
    }

    .discover {
        height: 180vh;
    }

    .thought {
        height: 55vh;
    }

    .thought-images {
        height: 55vh;
        top: 290vh;
        gap: 40px;
    }

    .thought-text {
        width: 80%;
    }

    .committees-heading {
        width: 90%;
    }

    .committee {
        width: 90%;
    }

    .join-container{
        width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .home-container .home-title-container {
        font-size: 32px;
    }

    .discover {
        height: 240vh;
    }
    .discover-container {
        height: 100%;
        gap: 0px;
        justify-content: space-evenly;
    }
    .discover-committees,
    .discover-interaction {
        flex-direction: column;
        height: 100vh;
        justify-content: space-evenly;
    }
    .discover-committees-img,
    .discover-interaction-img {
        width: 90%;
        height: 70%;
    }

    .discover-committees-text,
    .discover-interaction-text {
        width: 90%;
        height: 30%;
        align-items: center;
        text-align: center;
    }
    .discover-committees-text h1,
    .discover-interaction-text h1{
        text-align: center;
    }


    .thought-images {
        top: 350vh;
        gap: 10px;
    }

    .committees {
        height: 440vh;
        justify-content: space-evenly;
    }
    .committees-heading {
        width: 80%;
        text-align: center;
        font-size: 3rem;
    }
    .committees-container {
        gap: 50px;
        width: 100%;
        height: 400vh;
    }
    .committee {
        flex-direction: column;
        width: 90%;
        height: 150vh;
        gap: 30px;
    }
    .committee-text {
        width: 90%;
        height: 50%;
        font-size: 1.5rem;
        align-items: center;
    }
    .committee-text h1, .committee-text p {
        text-align: center;
    }
    .committee-img {
        width: 90%;
        height: 110%;
    }
    .committee-img img {
        border-radius: 20px;
        height: 100%;
    }

    .join{
        height: 60vh;
    }
    .join-container{
        width: 80%;
    }
    .join-heading{
        font-size: 2rem;
    }
    .join-button {
        width: 70vw;
    }

    .pages{
        height: 100vh;
    }
    .pages-container{
        height: 90vh;
        flex-direction: column;
        gap: 20px;
    }
}

@media screen and (max-width: 500px){
    .discover-committees-img,
    .discover-interaction-img {
        width: 90%;
        height: 50%;
    }

    .thought{
        height: 40vh;
    }
    .thought-images{
        height: 40vh;
    }
    .thought-text {
        font-size: 2rem;
    }

    .committee-img {
        width: 95%;
        height: 80%;
    }

    .join-container {
        width: 90%;
    }
    .join-button {
        width: 80vw;
    }
}